
   <%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>

    <%= link_to '#', class: 'pull-left' do %>
      <%= image_tag(comment.user.avatar.small.url) if comment.user.avatar? %>
    <% end %>


    <div class="media-body">

                <p><%= comment.body  %>
                <small>
                    <em><%= comment.user.name %></em>
                </small>
                  <% if policy(comment).destroy? %>
                    | <%= link_to "Delete", [comment.post, comment], method: :delete %>
                  <% end %>
                </p>
    </div>
  <% end %>
