


<h1>

</h1>

  <h3 class="media-heading">
    <%= post.markdown_title %>
    <%= render partial: 'votes/voter', locals: { post: @post } %>

  </h3>

    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %>
    </small>

  <p>
    <%= post.markdown_body %>
    <%= image_tag(@post.image) if @post.image? %></p>
  </p>
